body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
    /* The image used */
    background-image: url("Resources/Imgs/family.jpg");

    /* Set a specific height */
    height: 100%;

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

/*Paralax*/
.parallax {
    /* The image used */
    
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


.bgimg-3 {
    background-image: url("Resources/Imgs/friends.jpg");
    min-height: 400px;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;  
  }

  .bgimg-4 {
    background-image: url("Resources/Imgs/friends1.jpg");
    min-height: 700px;
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;  
  }

  .caption {
    position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #000;
  }

  /*Sections*/

  .secttitles {
      text-align: center;
  }

  .divider {
      padding: 20px;
  }

  #iconpic {
      width: 150px;
      height: 150px;
      padding: 15px;
  }

  .card {
      text-align: center;
  }


  .rate {
      text-align: center;
      color: white;
      background-color: teal;
      padding: 20px;
  }


  #flagicon {
      width: 55px;
      height: 48px;
  }

  #Section4 {
      background-color: #f8f9fa;
  }

  #Section5 {
      background-color: #fff7ea;
  }